{% extends 'MainBundle:Layouts:base.html.twig' %}

{% block body %}
    <div class="search-box">
        <h1>Die Suche</h1>
        <div class="form-group">
            <input type="text" name="name" id="inputID" class="form-control" placeholder="" value="" title="Suche" required="required" >
            <div class="button-group">
                <div class="btn-start-search">
                    <button class="button">Suchen</button>
                </div>
                <div class="btn-start-crawling">
                    <button class="button">Crawlen</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
